nltk
spacy==2.3.5
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
pyresparser
fastapi
uvicorn
python-dotenv
google-generativeai
alembic
sqlalchemy
psycopg2
pydantic[email]
streamlit
scikit-learn